<tr align="center">
  
  
  <td><%= badge.title %></td>
  <td><%= badge.img_url %></td>
  <td><%= badge.rule_name %></td>
  <td><%= badge.rule_value %></td>
  <td><%= link_to 'Show', admin_badge_path(badge) %> </td>
  <td><%= link_to 'Edit', edit_admin_badge_path(badge) %></td>    
  <td><%= link_to 'Delete',
                admin_badge_path(badge),
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
  </td>
</tr>