<p>
  <strong>Title:</strong>
  <%= @badge.title %>
</p>

<p>
  <strong>Img:</strong>
  <%= @badge.img_url %>
</p>

<p>
  <strong>Rule_name:</strong>
  <%= @badge.rule_name %>
</p>

<p>
  <strong>Rule_value:</strong>
  <%= @badge.rule_value %>
</p>

<%= link_to 'Back', admin_badges_path %>