<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

	<span class="navbar-text">

    <%= link_to 'TestGuru', root_path %> Admin Panel

  </span>

	<span class="navbar-text">
		Welcome, <b><%= current_user.user_name %></b> Guru | 
		<%= link_to 'Logout', destroy_user_session_path, method: :delete %>

    <% if I18n.locale == I18n.default_locale %>
      <p><%= link_to "English", { lang: 'en' } %></p>

    <% else %>
      <p><%= link_to "Русский", { lang: 'ru' } %></p>

    <%end%>
	</span>
</nav>