<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><strong><%= test_result(@test_passage) %></strong></p>

<p>
	<%= t('.answers') %>: <span class="<%= color(@test_passage) %>"><%= @test_passage.percent_of_complition %>%</span>
</p>

<p>
  <%= t('.spent') %>: <%= @test_passage.spent_time %> sec.
</p>

<p><%= link_to 'Back to the list of tests', tests_path %></p>
