<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<p>
  <strong>

	<%= if @test_passage.success
		  color = 'block_green'
		  render plain: 'The test passed successfully'
	    else
	      color = 'block_red'	
	      render plain: 'Test failed'	
		end %>

  </strong>
</p>

<p>
	Correct answers: <span class="<%= color %>"><%= @test_passage.percent %>%</span>
</p>

<p><%= link_to 'Back to the list of tests', tests_path %></p>
