<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<p><strong><%= number_color(@test_passage) %></strong></p>

<p>
	Correct answers: <span class="<%= @color %>"><%= @test_passage.percent_of_complition %>%</span>
</p>

<p><%= link_to 'Back to the list of tests', tests_path %></p>
