

<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<%= render 'shared/timer' if @test_passage.test.timer %>


<div class="progress">
  <%= content_tag :div, '',
                  class: 'progress progress-bar progress-bar-striped bg-success',
                  id: 'test-progress',                  
                  data: { question_number: @test_passage.number_of_question,
                          questions_count:@test_passage.test.questions.count } %>
</div>

<p><b>question number <%= @test_passage.number_of_question %> of <%= @test_passage.test.questions.count %> </b></p>


<p><b><%= @test_passage.current_question.body %></b></p>


  <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
    	<%= b.check_box id: "answer_ids_#{b.object.id}" %>
    	<%= b.label %>

  <% end %>

  <p><%= link_to t('.gist'), gist_test_passage_path(@test_passage), method: :post %></p>

  <p><%= form.submit 'Next', class: 'btn btn-outline-secondary btn-sm', onclick: 'move()' %></p>

<% end %>

<p><%= link_to 'Back to the list of tests', tests_path %></p>
