<% unless current_page?('/welcome') %>
  <%= link_to 'TestGuru', welcome_path %>
<% end %>  


 <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
      <p class="nav user">Wellcome, <b><%= current_user.user_name %></b> Guru</p>
 <% else %>
      <p><%= link_to 'Log In', new_user_session_path %> | <%= link_to 'Sign Up', new_user_registration_path %></p>      
 <% end %>
