<h1>Hello!</h1>

<div class="skinny_wrapper wrapper_padding">
  <%= form_for @contact_form do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>

    <br>

    <%= f.label :email %><br>
    <%= f.email_field :email, required: true %>

    <br>

    <%= f.label :message %><br>
    <%= f.text_area :message, as: :text %>

    <br>

    <%= f.submit 'Send Message', class: "button" %>
  <% end %>
</div>