<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.where(id: @test.category_id).pluck(:title).join %>
</p>

<p>
  <%= link_to 'New Question', new_admin_test_question_path(@test.id) %>
</p>

<table>

  <tr >
    <th>id</th>
    <th>body</th>
    <th>test_id</th>
    <th colspan="3">Actions</th>
  </tr>

   <%= render @test.questions %>

<p><%= link_to 'Back', admin_tests_path %></p>
<p><%= link_to 'Edit Test', edit_admin_test_path(@test) %></p>